body {
    background-color: lightpink;
    color: whitesmoke;
}

.navbar {
    background-color: #d2b3ff;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    transition: all 0.3s ease;
}

@media (orientation: portrait), (min-width: 600px) {
    .nav-links a {
        font-size: 16px;
    }
}

@media (orientation: potrait) {
    /* Hide normal menu */
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #d2b3ff;
        padding: 10px 15px;
        border-radius: 12px;
        position: absolute;
        top: 60px;
        right: 20px;
        gap: 10px;
        width: fit-content;
    }
    /* When clicked */
    .nav-links.show {
        display: flex !important;
    }
}

